# OS
.DS_Store
Thumbs.db

# Éditeurs
.vscode/
.idea/

# Temporaires
*.log

# Puppeteer (screenshots locaux uniquement)
node_modules/
package.json
package-lock.json

# Python cache
**/__pycache__/
*.pyc